@import '../../../styles/breakpoints.scss';

.header {
  @include for-medium-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.845);
    color: white;
  }
}
