@import '../../styles/breakpoints.scss';
@import '../../styles/variables.scss';

.header {
  @include for-medium-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $backgroundColorBlack;
    color: white;
  }
}

.title {
  text-align: center;
  line-height: 100px;
  background-color: $backgroundColorBlack;
  margin: 0;
  font-weight: 300;
  color: white;

  @include for-medium-up {
    margin-left: 30px;
    line-height: 60px;
    background: none;
  }
}

.launches {
  text-align: center;

  &__title {
    margin: 0;

    align-items: center;
  }

  &__filters {
    @include for-small-up {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 70px;
    }
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    font-weight: 700;

    select {
      width: 70%;
      border-radius: 5px;
    }

    & label {
      margin-right: 10px;
    }

    & input {
      border: none;
      border-radius: 5px;
      width: 70%;
    }

    @include for-small-up {
      justify-content: center;
      margin: auto;

      input {
        width: 50%;
      }
    }
  }

  &__search-btn {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 100px;
    background-color: $backgroundColorBlack;
    line-height: 40px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    border: 4px solid white;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 2s;

    &:hover {
      color: #000 !important;
      background-color: transparent;
      text-shadow: nthree;
    }
    &:hover:before {
      left: 0%;
      right: auto;
      width: 100%;
    }
    &:before {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: #f7ca18;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0.2s;
    }

    @include for-small-up {
      margin-right: 10px;
    }
  }
  // &__search-btn {
  //   color: #fff;
  //   cursor: pointer;
  //   display: block;
  //   position: relative;
  //   border: 2px solid #F7CA18;
  // }
}

@keyframes water {
  0% {
    background: linear-gradient($backgroundColorBlack 100%, #fff 100% 0%);
    color: white;
  }
  50% {
    background: linear-gradient($backgroundColorBlack 50%, #fff 50%);
  }
  100% {
    background: linear-gradient($backgroundColorBlack 0%, #fff 0% 100%);
    color: black;
  }
}
