@import '../../../styles/breakpoints.scss';

.launches-cards {
  padding: 0px 15px;
  margin-top: 30px;

  &__not-found {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  @include for-small-up {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  @include for-medium-up {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  @include for-large-up {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
